// Bootstrap variable overrides

// Colors
$theme-colors: (
    "primary": #055160,
    "secondary": #4c4c4c
);

// Body
$body-bg: black;
$body-color: white;

// Cards
$card-bg: #1b1b1b;

// List groups
$list-group-bg: rgba(0,0,0,0);
$list-group-color: white;  