// reference: https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// Bootstrap variable overrides

// Colors
$primary: #055160;
$secondary: #4c4c4c;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);

// Body
$body-bg: black;
$body-color: white;

// Cards
$card-bg: #1b1b1b;

// List groups
$list-group-bg: rgba(0,0,0,0);
$list-group-color: white;  

// Links
$link-decoration: none;

// Inputs
// $input-bg: $primary;
$input-border-color: transparent;

// Selects
$form-select-bg: $primary;
$form-select-indicator-color: white;