/* base styles */

html, body {
    min-height: 100vh;
    min-width: 100vw;
}

img {
    max-width: 100%;
}

header {
    position: relative;
    z-index: 1;
}

/* home page */

#home-carousel {
    position: fixed;
    top: 0;
}

div.carousel-caption {
    background-color: rgba(0, 0, 0, .75);
    border-radius: 1rem;
}

.carousel-item img {
    height: 100vh;
    object-fit: cover;
}

.list-group-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.images-group-close {
    float: right;
    color: var(--bs-gray-dark);
    position: relative;
    top: 4px;
    border: 0;
    background: white;
    padding-right: 0;
}

.images-group-close:hover {
    text-decoration: underline;
}